.form-ct {
	$self: &;

	&__layout {
		display: flex;

		@include media('<=xxxs') {
			display: block;
		}
	}

	&__field {
		width: 100%;
		max-width: 440px;
		margin-right: 24px;

		@include media('<=xs') {
			margin-right: 20px;
		}

		@include media('<=xxxs') {
			margin: 0 0 20px 0;
		}
	}

	&__button {
		width: 100%;
		max-width: 155px;
		
		@include media('<=xs') {
			max-width: 110px;
		}
		
		@include media('<=xxxs') {

		}
	}
}
