.lines {
	$self: &;
	font-size: 14px;
	@keyframes show_fade { from { opacity: 0; } to { opacity: 1; }}

	&__line {
		box-sizing: border-box;
		min-height: 36px;
		padding: 5px 10px;
		display: flex;
		align-items: center;
		animation: show_fade 0.3s;

		&:nth-child(odd) {
			background-color: rgba(0, 0, 0, 0.05);
		}

		a {
			color: $accent;
		}
	}

	&__name {
		margin-right: 5px;
		font-family: "RM", sans-serif;
	}

	&__restrict {
		color: $warn;
	}

	&__more {
		color: $accent;
		text-decoration: underline;
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 120px;
		padding-top: 10px;
		margin: 0 auto;

		&::after {
			display: block;
			content: '';
			width: 11px;
			height: 7px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-black') center / auto no-repeat transparent;
			margin-left: 8px;
		}
	}
}
