.form-s {
	$self: &;

	&__layout {
		position: relative;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 24px;
	
		@include media('<=xxs') {
			display: block;
		}
	}

	&__item {

		@include media('<=xxs') {
			margin-bottom: 20px;
		}

		&:nth-child(1) {
			grid-column: span 5;
			
			@include media('<=md') {
				// grid-column: span 5;
			}
		}

		&:nth-child(2) {
			grid-column: span 2;
			
			@include media('<=xs') {
				margin-left: auto;
				margin-right: auto;
			}
			
			@include media('<=xxs') {
				max-width: 50px;
				position: absolute;
				z-index: 1;
				top: 30px;
				left: calc(50% - 25px);
			}
			
			@include media('<=xxxs') {
				top: 32px;
				height: 35px;
			}
		}

		&:nth-child(3) {
			grid-column: span 5;
			
			@include media('<=md') {

			}
		}

		&:nth-child(n + 4) {
			grid-column: span 4;
			
			@include media('<=sm') {
				grid-column: span 6;
			}
		}
	}

	&__button {

	}
}
