.button {
	$self: &;
	@extend %reset-button;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #{$accent};
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-family: "RR", sans-serif;
	height: 48px;
	white-space: nowrap;
	transition: transform 0.1s;
		
	@include media('<=xs') {
		border-radius: 8px;
		line-height: 20px;
		font-size: 13px;
		height: 40px;
	}

	&:active {
		transform: scale(95%);
	}

	&::after {
		display: none;
		content: '';
		width: 24px;
		height: 24px;
		margin-left: 12px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		
		@include media('<=xs') {
			margin-left: 10px;
			height: 20px;			
			width: 20px;
		}
	}
	
	&_change::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-change-view-white');
		background-size: 24px 22px;
		margin: 0;
		
		@include media('<=xs') {
			margin: 0;
			background-size: 20px 18px;
		}
	}
	
	&_find::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-zoom-view-white');
		background-size: 18px 18px;
		
		@include media('<=xs') {
			background-size: 14px 14px;
		}
	}
	
	&_profile::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-user-view-white');
		background-size: 18px 20px;
		
		@include media('<=xs') {
			background-size: 14px 16px;
		}
	}
	
	&_reset {
		background-color: $light;

		&::after {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-cancel-view-white');
			background-size: 18px 18px;
			
			@include media('<=xs') {
				background-size: 14px 14px;
			}
		}
	}
	
	&_update::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-update-view-white');
		background-size: 20px 20px;
		
		@include media('<=xs') {
			background-size: 16px 16px;
		}
	}
	
	&_send::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-mail-view-white');
		background-size: 24px 18px;
		
		@include media('<=xs') {
			background-size: 20px 14px;
		}
	}
	
	&_more::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-eye-view-white');
		background-size: 24px 16px;
		
		@include media('<=xs') {
			background-size: 20px 12px;
		}
	}
	
	&_save::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-save-view-white');
		background-size: 20px 20px;
		
		@include media('<=xs') {
			background-size: 16px 16px;
		}
	}
	
	&_edit::after {
		display: block;
		background-image: url('#{$images-path}icons-sprite.svg#icon-edit-view-white');
		background-size: 22px 20px;
		
		@include media('<=xs') {
			background-size: 18px 16px;
		}
	}
}
