.pagination {
	$self: &;

	&__inner {
		display: flex;
		justify-content: center;
	}

	&__link {
		box-sizing: border-box;
		font-family: "RB", sans-serif;
		text-decoration: none;
		font-size: 20px;
		color: $label;
		padding: 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		
		@include media('<=xs') {
			font-size: 16px;
			padding: 0 8px;
		}

		&_current {
			width: 48px;
			height: 48px;
			background-color: $accent;
			border-radius: 50%;
			color: #fff;
			margin: 0 12px;
			
			@include media('<=xs') {
				width: 36px;
				height: 36px;
				margin: 0 6px;
			}
		}

		&_end, &_start, &_prev, &_next {
			&::before, &::after {
				display: block;
				content: '';
				height: 14px;
				width: 9px;
				background: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-dark') center / contain no-repeat transparent;
				
				@include media('<=xs') {
					height: 11px;
					width: 7px;
				}
			}
		}

		&_start {
			&::before, &::after {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-dark');
			}
		}

		&_prev {
			&::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-left-view-dark');
			}

			&::after { display: none; }
		}
		
		&_next {
			&::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-arr-right-view-dark');
			}

			&::after { display: none; }
		}
	}
}
