<div class="panel-bt" data-scroll-lock-fill-gap>
	<a class="panel-bt__link panel-bt__link_profile" href="./"></a>
	<a class="panel-bt__link panel-bt__link_calc" href="./"></a>
	<a class="panel-bt__link panel-bt__link_exit" href="./"></a>
	<!-- <a class="panel-bt__link panel-bt__link_login" href="./"></a> -->
</div>

@@include("_modals.html")

<script> let outer_data = {
		lon: '39.7449517',
		lat: '47.2875759',
		distanse: '2',
		loading: 'Воронежская обл, г Богучар',
		unloading: 'Миллерово',
	}; </script>

<!-- <script> let outer_data = {
	loading: 'Воронежская обл, г Богучар',
	unloading: 'Миллерово',
	query: {
		lon: '39.7449517',
		lat: '47.2875759'
	}
}; </script> -->

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script>
</body>

</html>