<div class="card card_less @@if(this.cls){@@cls}" data-animation="0.9">
	<a class="card__hidden card-m" href="./">
		<div class="card-m__top">
			<div class="card-m__name">3000 т <span>Пшеница</span></div>
			<hr>
			<div class="card-m__distance">400 км</div>
			<hr>
			<div class="card-m__price">15000 ₽ <span>6.9 ₽/т/км</span></div>
		</div>
		<div class="card-m__line card-m__line_one">г Каменск-Шахтинский</div>
		<div class="card-m__line card-m__line_two">г Таганрог, ул Ростовская</div>
		<div class="card-m__date">17.12.2022</div>
	</a>
	<div class="card__top mb1">
		<h3 class="card__title"><a href="./">ТЭК Караван</a></h3>
		<div class="card__top-side"><span>15000</span> ₽</div>
	</div>
	<div class="card__lines mb1">
		<div class="card__line">
			<span class="card__line-name">Погрузка:</span>
			<span class="card__line-value">г Каменск-Шахтинский</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Выгрузка:</span>
			<span class="card__line-value">г Таганрог, ул Ростовская</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Расстояние:</span>
			<span class="card__line-value">400</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Культура-класс:</span>
			<span class="card__line-value">Пшеница</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Объем:</span>
			<span class="card__line-value">3000 тонн</span>
		</div>
	</div>
	<div class="card__panel">
		<div class="card__date date">17.12.2022</div>
		<a class="card__button card__button_panel button" href="./">Подробнее</a>
	</div>
</div>