<div class="card @@if(this.cls){@@cls}" data-animation="0.9">
	<div class="card__top mb1">
		<h3 class="card__title">ТЭК Караван</h3>
		<div class="card__top-side">
			<span>15000</span> ₽
		</div>
	</div>
	<div class="card__lines mb1">
		<div class="card__line">
			<span class="card__line-name">Погрузка:</span>
			<span class="card__line-value">г Каменск-Шахтинский</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Выгрузка:</span>
			<span class="card__line-value">г Таганрог, ул Ростовская</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Расстояние:</span>
			<span class="card__line-value">400</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Культура-класс:</span>
			<span class="card__line-value">Пшеница</span>
		</div>
		<div class="card__line">
			<span class="card__line-name">Объем:</span>
			<span class="card__line-value">3000 тонн</span>
		</div>
	</div>
	<!-- доделать для сервера -->
	<div class="card__panel card__panel_font">
		<div class="card__date date">2020-06-06</div>
		<div class="card__date date">2020-06-06</div>
	</div>
	<div class="card__panel">
		<a class="card__button card__button_panel button" href="./">Позвонить</a>
		<a class="card__button card__button_panel button" href="./">WhatsApp</a>
		<!-- <div class="card__date card__date-font">2020-06-10</div> -->
	</div>

	<!-- оригинал -->

	<!-- <div class="card__panel card__panel_date">
		<a class="card__button card__button_panel button" href="./">Подробнее</a>
		<div class="card__date date">2020-06-06 -</div>
		<div class="card__date date">2020-06-10</div>
	</div> -->
	<!-- <div class="card__panel"> -->
	<!-- <div class="card__date date">17.12.2022</div> -->
	<!-- <a class="card__button card__button_panel button" href="./">Подробнее</a> -->
	<!-- <div class="card__contacts social">
			<a class="social__link social__link_phone" href="./"></a>
			<a class="social__link social__link_mail" href="./"></a>
			<a class="social__link social__link_wapp" href="./"></a>
		</div> -->
	<!-- </div> -->
	<!-- <div class="card__buttons">
		<a class="card__button button" href="./">Подробнее</a>
	</div> -->
</div>