<div class="card @@if(this.cls){@@cls}" data-animation="0.9">

  <div class="card__images gallery-c card-hvr mb1">
    <div class="card-hvr__images card-hvr__hover-slider-images-toggler">
      <div class="card-hvr__product-card">
        <!-- <img class="card__product-card-image" src="./images/card-image-1.png" -->
        <img class="card__product-card-image" src="./images/card-image-11.png"
          data-hover-slides="./images/1-photo.jpg, ./images/2-photo.jpg, ./images/card-image-3.png, ./images/card-image-4.png, ./images/card-image-2.png"
          alt="">
      </div>
    </div>
    <div class="line">
      <div class="line__buttons card-hvr__buttons social">

        <!-- кнопки без обводки -->
        <!-- <button class="line__button card-hvr__button-map card-hvr__button-map_wapp"></button>
        <button class="line__button card-hvr__button-map card-hvr__button-map_phone"></button> -->

        <!-- кнопки с обводкой -->
        <!-- <button class="line__button card-hvr__button card-hvr__button_wapp"></button>
        <button class="line__button card-hvr__button card-hvr__button_phone"></button> -->

        <!-- карзина и сердце -->
        <!-- <button class="line__button card-hvr__button-bg card-hvr__button card-hvr__button_cart"></button> -->
        <!-- <button class="line__button card-hvr__button-bg card-hvr__button card-hvr__button_favorite"></button> -->

        <!-- <button class="card-hvr__heart-button">
          <svg class="card-hvr__heart-icon" id="heart-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path fill="none" stroke="#0BACF0"
              d="M35.516,4.069C31.788,4.069,28.307,5.424,25,8.034C21.693,5.424,18.211,4.069,14.484,4.069c-6.444,0-11.697,5.253-11.697,11.697c0,6.527,6.423,12.57,17.541,22.298c0.578,0.523,1.341,0.783,2.102,0.783s1.524-0.26,2.102-0.783C40.274,28.266,46.697,22.223,46.697,15.697C46.697,9.322,41.352,4.069,35.516,4.069z" />
          </svg>
          <svg class="card-hvr__heart-icon" id="heart-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
            style="display: none">
            <path fill="#ff3b30"
              d="M35.516,4.069C31.788,4.069,28.307,5.424,25,8.034C21.693,5.424,18.211,4.069,14.484,4.069c-6.444,0-11.697,5.253-11.697,11.697c0,6.527,6.423,12.57,17.541,22.298c0.578,0.523,1.341,0.783,2.102,0.783s1.524-0.26,2.102-0.783C40.274,28.266,46.697,22.223,46.697,15.697C46.697,9.322,41.352,4.069,35.516,4.069z" />
          </svg>
        </button> -->

        <button class="card-hvr__heart-button">
          <svg class="card-hvr__heart-icon card-hvr__heart-outline" id="heart-outline"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path fill="none" stroke="#0BACF0"
              d="M35.516,4.069C31.788,4.069,28.307,5.424,25,8.034C21.693,5.424,18.211,4.069,14.484,4.069c-6.444,0-11.697,5.253-11.697,11.697c0,6.527,6.423,12.57,17.541,22.298c0.578,0.523,1.341,0.783,2.102,0.783s1.524-0.26,2.102-0.783C40.274,28.266,46.697,22.223,46.697,15.697C46.697,9.322,41.352,4.069,35.516,4.069z" />
          </svg>
          <svg class="card-hvr__heart-icon card-hvr__heart-fill" id="heart-fill" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50" style="display: none">
            <path fill="#ff3b30"
              d="M35.516,4.069C31.788,4.069,28.307,5.424,25,8.034C21.693,5.424,18.211,4.069,14.484,4.069c-6.444,0-11.697,5.253-11.697,11.697c0,6.527,6.423,12.57,17.541,22.298c0.578,0.523,1.341,0.783,2.102,0.783s1.524-0.26,2.102-0.783C40.274,28.266,46.697,22.223,46.697,15.697C46.697,9.322,41.352,4.069,35.516,4.069z" />
          </svg>
        </button>

      </div>
    </div>
  </div>

  <div class="card-hvr__unit">
    <!-- <h3 class="card__title card__title_color">Название запчасти Название запчасти</h3> -->
    <h3 class="card-hvr__title card-hvr__title_color">Название запчасти Название запчасти</h3>
    <div class="card__top">
      <!-- <div class="card__top-caption"> -->
      <div class="card-hvr__top-caption">
        <span>15000</span> ₽
      </div>
    </div>
    <!-- <div class="card-hvr__top"> -->
    <div class="card-hvr__line"><span>Ростов-на-Дону, р-н Октябрьский</span></div>
    <div class="card-hvr__line"><span>15.04.2023</span></div>
    <!-- </div> -->
    <!-- <div class="card__desctiption_color card__desctiption mb1">
      Длинное и очень подробное описание этой, конкретной запчасти
    </div> -->
  </div>

</div>

<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>