<div class="card card_less @@if(this.cls){@@cls}" data-animation="0.9">
  <div class="card__hidden card-mfn" href="./">
    <div class="card-mfn__display">
      <div class="card-mfn__images">
        <div class="card-mfn__image">
          <img class="card-mfn__img" src="./images/gallery-image-4.png" alt="">
        </div>
      </div>
      <div class="card-mfn__lines">
        <div class="card-mfn__line">
          Лунгу Артём Геннадьевич
        </div>

        <div class="card-mfn__panel card-mfn__buttons">
          <a class="card-mfn__button card-mfn__button_phone button" href="tel:+79281376559">Позвонить</a>
          <a class="card-mfn__button card-mfn__button_wapp button" href="https://wa.me/79281376559"
            target="_blank">WhatsApp</a>
        </div>

        <!-- первый вариант -->
        <!-- <div class="card-mfn__contacts">
          <a class="card-mfn__contact" href="tel:+79281376559">Позвонить</a>&ensp;-&ensp;
          <a class="card-mfn__contact" href="https://wa.me/79281376559" target="_blank">WhatsApp</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="card-m card-mfn__lines">
  <div class="card-m__line card-m__line_one card-mfn__line">
    Лунгу Артём Геннадьевич Лунгу Артём Геннадьевич Лунгу Артём Геннадьевич
  </div>
  <div class="">г Таганрог, ул Ростовская Ростовская Ростовская </div>
  <div class="card-m__date">17.12.2022</div>
</div> -->