<div class="card card_less @@if(this.cls){@@cls}" data-animation="0.9">
  <a class="card__hidden card-mfn" href="./">
    <div class="card-mfn__display">
      <div class="card-mfn__images">
        <div class="card-mfn__image">
          <img class="card-mfn__img" src="./images/card-image-4.png" alt="">
        </div>
      </div>
      <div class="card-m card-mfn__line">
        <div class="card-m__line card-m__line_one">Лунгу Артём Геннадьевич Лунгу Артём Геннадьевич Лунгу Артём
          Геннадьевич</div>
        <div class="card-m__line card-m__line_two">г Таганрог, ул Ростовская Ростовская Ростовская </div>
        <div class="card-m__date">17.12.2022</div>
      </div>
    </div>
  </a>
</div>