<div class="card anim @@if(this.cls){@@cls}" data-animation="-0.9">
	<div class="card__top">
		<h3 class="card__title">Название запчасти</h3>
		<div class="card__top-side">
			<span>15000</span> ₽
		</div>
	</div>
	<div class="card__images gallery-c">
		<div class="gallery-c__images">
			<div class="gallery-c__image"><img src="./images/card-image-1.png" alt=""></div>
			<div class="gallery-c__image"><img src="./images/card-image-2.png" alt=""></div>
			<div class="gallery-c__image"><img src="./images/card-image-3.png" alt=""></div>
			<div class="gallery-c__image"><img src="./images/card-image-4.png" alt=""></div>
		</div>
		<button class="gallery-c__prev"></button>
		<button class="gallery-c__next"></button>
	</div>
	<div class="card__desctiption">Длинное и очень подробное описание этой, конкретной запчасти</div>
	<div class="card__panel">
		<div class="card__date date">17.12.2022 в 15:45</div>
		<div class="card__contacts social">
			<a class="social__link social__link_phone" href="./"></a>
			<a class="social__link social__link_mail" href="./"></a>
			<a class="social__link social__link_wapp" href="./"></a>
		</div>
	</div>
	<div class="card__buttons">
		<a class="card__button button" href="./">Подробнее</a>
	</div>
</div>