<div class="card @@if(this.cls){@@cls}" data-animation="0.9">
	<div class="card__top mb1">
		<h3 class="card__title">Название вакансии</h3>
		<div class="card__top-side">
			<span>15000</span> ₽
		</div>
	</div>
	<div class="card__desctiption mb1">Длинное и очень подробное описание этой, конкретной вакансии</div>
	<div class="card__panel">
		<div class="card__date date">17.12.2022</div>
		<a class="card__button card__button_panel button" href="./">Подробнее</a>
		<!-- <div class="card__contacts social">
			<a class="social__link social__link_phone" href="./"></a>
			<a class="social__link social__link_mail" href="./"></a>
			<a class="social__link social__link_wapp" href="./"></a>
		</div> -->
	</div>
	<!-- <div class="card__buttons">
		<a class="card__button button" href="./">Подробнее</a>
	</div> -->
</div>