<div class="modal__hidden">
	<div id="login">
		<form class="form form-ln" action="./">
			<h2 class="title mb1">Авторизация</h2>
			<div class="form__body form-ln__layout">
				<div class="form__field form__field_txt form-ln__item" data-title="Номер телефона">
					<input type="tel" placeholder="+7 (900) 123-45-67"/>
				</div>
				<div class="form__field form__field_pass form-ln__item" data-title="Пароль">
					<input type="password"/><button type="button"></button>
				</div>
			</div>
			<div class="form__alerts"></div>
			<div class="form__buttons form-ln__buttons form-ln__buttons_grid">
				<button class="form__button button form-ln__button" type="button">Войти</button>
				<button class="form__button button form-ln__button" type="button">Регистрация</button>
			</div>
			<div class="form__small">
				<strong><a href="./" data-modal="restore">Забыли пароль?</a></strong>
			</div>
		</form>
	</div>
	<div id="restore">
		<form class="form form-ln" action="./">
			<h2 class="title mb1">Восстановление пароля</h2>
			<div class="form__body form-ln__layout">
				<div class="form__field form__field_txt form-ln__item" data-title="Номер телефона">
					<input type="tel" placeholder="+7 (900) 123-45-67"/>
				</div>
				<div class="form__field form__field_txt form-ln__item" data-title="Email">
					<input type="password" placeholder="address@gmail.com"/>
				</div>
			</div>
			<div class="form__alerts"></div>
			<div class="form__buttons form-ln__buttons">
				<button class="form__button button form-ln__button" type="button">Восстановить</button>
			</div>
			<div class="form__small">
				Уже есть аккаунт? <strong><a href="./" data-modal="login">Войти</a></strong>
			</div>
		</form>
	</div>
</div>