.section {
	$self: &;

	&__layout {

		&_double {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=sm') {
				display: block;
			}

			#{$self}__unit {
				grid-column: span 6;
				
				@include media('<=sm') {
					margin-bottom: 24px;
				}
				
				@include media('<=xs') {
					margin-bottom: 20px;
				}
				
				@include media('<=xxs') {
					margin-bottom: 15px;
				}
			}
		}

		&_triple {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=xs') {
				display: block;
			}

			#{$self}__unit {
				grid-column: span 4;
				
				@include media('<=md') {
					grid-column: span 6;
				}
				
				@include media('<=xs') {
					margin-bottom: 20px;
				}
				
				@include media('<=xxs') {
					margin-bottom: 15px;
				}
			}
		}

		&_triple-less {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=xs') {
				display: block;
			}

			#{$self}__unit {
				grid-column: span 4;
				
				@include media('<=md') {
					grid-column: span 6;
				}
				
				@include media('<=xs') {
					margin-bottom: 20px;
				}
				
				@include media('<=xxs') {
					margin-bottom: 10px;
				}
			}
		}
	}

	&__unit {
		box-sizing: border-box;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		padding: 24px;
		border: 1px solid lighten($accent, 30%);
		display: flex;
		flex-flow: column nowrap;
		
		@include media('<=xs') {
			border-radius: 8px;
			padding: 20px;
		}
		
		@include media('<=xxs') {
			padding: 15px;
		}
		
		&_shrink {
			align-self: start;
		}
		
		&_desktop {
			@include media('<=xs') {
				padding: 24px 0 !important;
				background: none;
				box-shadow: none;
				border-radius: 0;
				border: none;
			}
		}
	}

	&__gallery {
		
	}

	&__toggle {
		padding-right: 50px;
		background: url('#{$images-path}icons-sprite.svg#icon-arr-up-view-dark') center right 24px / 16px 10px no-repeat transparent;
		cursor: pointer;

		&_desktop {
			@include media('<=xs') {
				background: none !important;
			}
		}

		&_closed {
			background-image: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-dark');
		}
	}

	&__map {
		overflow: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		height: 400px;
		background: url('#{$images-path}map-yandex-bg.svg') center / 80% auto no-repeat transparent;
		
		[class*="copyrights-pane"] {
			display: none;
		}

		&_range {

		}
	}

	&__collapse {

		&_desktop {
			@include media('<=xs') {
				display: block !important;
			}
		}
		
		&_collapsed {
			display: none;
		}
	}
}
