.date {
	$self: &;
	font-size: 14px;
	line-height: 24px;
	color: $placeholder;
	display: flex;
	align-items: center;
	white-space: nowrap;

	&::before {
		display: inline-block;
		vertical-align: middle;
		content: '';
		width: 18px;
		height: 18px;
		margin: 0 5px 3px 0;
		background: url('#{$images-path}icons-sprite.svg#icon-clock-view-dark') center / auto no-repeat transparent;
	}
}