.card-mfn {
  $self: &;
  text-decoration: none;
  color: $text;

  &__display {
    display: flex;
  }

  &__images {
    // width: 80px;
  }

  &__image {}

  &__img {
    width: 50px;
    border-radius: 50%;
    height: auto;
    margin-top: 6px;
  }

  &__lines {
    display: inline-grid;
    align-content: center;
    margin-left: 30px;
    width: 100%;
  }

  &__line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; // что бы появились три точки и текст сокращался
    align-items: center;
    font-size: 18px;
    line-height: 24px;
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
  }

  &__contact {
    color: $label;
  }

  &__panel {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
  }

  &__button {
    margin-right: 10px;

    &_buttons-map {
      font-size: 12px;
      height: 20px;
    }

    &_wapp.button {
      font-size: 14px;
      height: 26px;
      background-color: #{$green};
    }

    &_phone.button {
      font-size: 14px;
      height: 26px;
    }
  }
}