.info {
	$self: &;

	&__lines {
		font-size: 14px;
	}
	
	&__line {
		box-sizing: border-box;
		min-height: 36px;
		padding: 5px 10px;
		display: flex;
		align-items: center;

		&:nth-child(odd) {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

	&__name {
		margin-right: 5px;
		font-family: "RM", sans-serif;
	}

	&__restrict {
		color: $warn;
	}

	&__buttons {
		
	}

	&__button {
		max-width: 290px;
	}
}