.card-hvr {
  $self: &;

  &__product-card {
    position: initial !important;
    width: 100%;
    height: 100%;
  }

  &__product-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  &__buttons {
    position: absolute;
    top: 82%;
    right: 4%;

    @include media('<=xs') {
      top: 80%;
    }
  }

  &__button.card-hvr__button {
    content: '';
    position: relative;
    display: inline-block;
    top: 82%;
    right: 4%;
    border-radius: 50%;
    border: 2px solid #bec3c8;
    width: 2.3rem;
    height: 2.3rem;
    background: rgb(11, 172, 240, 0.5);


    &_phone {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7%;
        right: 7%;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-phone-view-white') center / 16px 17px no-repeat $accent;

        @include media('<=xs') {
          top: 8%;
          background-size: 14px 16px;
        }

        @include media('<=xxxs') {
          right: 9%;
          background-size: 16px 18px;
        }
      }
    }

    &_wapp {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7%;
        right: 7%;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-wapp-view-white') center / 20px 20px no-repeat #00D33B;

        @include media('<=xs') {
          top: 8%;
          background-size: 22px 22px;
        }

        @include media('<=xxxs') {
          background-size: 20px 20px;
        }
      }
    }
  }

  &__button-bg.card-hvr__button {
    content: '';
    position: relative;
    display: inline-block;
    top: 82%;
    right: 4%;
    border-radius: 50%;
    border: 2px solid $label;
    width: 2.3rem;
    height: 2.3rem;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.4s ease;

    &:active {
      background: rgba(0, 170, 255, 0.7);
      top: 0.1em;
      left: 0.1em;
    }


    &_cart {
      &::after {
        // content: "\f101";
        content: '';
        display: block;
        position: absolute;
        top: 6%;
        right: 7%;
        width: 1.9rem;
        height: 1.9rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-cart-view-black') center / 20px 20px no-repeat;

        @include media('<=xs') {
          top: -1%;
          right: 3.5%;
          background-size: 22px 22px;
        }

        @include media('<=xxxs') {
          background-size: 20px 20px;
        }
      }
    }

    &_favorite {
      &::after {
        // content: "\f121";
        content: '';
        display: block;
        position: absolute;
        top: 7%;
        right: 7%;
        width: 1.8rem;
        height: 1.9rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-heart-view-black') center / 22px 20px no-repeat;

        @include media('<=xs') {
          // top: 8%;
          background-size: 22px 22px;
        }

        @include media('<=xxxs') {
          background-size: 20px 20px;
        }
      }
    }
  }



  &__button-map.card-hvr__button-map {
    // content: '';
    position: relative;
    display: inline-block;
    top: 82%;
    right: 4%;

    &_phone {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7%;
        right: 7%;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-phone-view-white') center / 16px 17px no-repeat $accent;

        @include media('<=xs') {
          top: 8%;
          background-size: 14px 16px;
        }

        @include media('<=xxxs') {
          right: 9%;
          background-size: 16px 18px;
        }
      }
    }

    &_wapp {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 7%;
        right: 7%;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background: url('#{$images-path}icons-sprite.svg#icon-wapp-view-white') center / 20px 20px no-repeat #00D33B;

        @include media('<=xs') {
          top: 8%;
          background-size: 22px 22px;
        }

        @include media('<=xxxs') {
          background-size: 20px 20px;
        }
      }
    }
  }

  &__fym {}

  &__images {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    height: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 8px 8px 0 0;

    @include media('<=xs') {
      border-radius: 6px 6px 0 0;
    }
  }

  &__unit {
    padding: 0 0.5rem;
  }

  &__hover-slider-indicator {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -1rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__hover-slider-indicator-dot {
    background-color: $label;
    opacity: .75;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin-left: .1rem;
    margin-right: .1rem;
  }

  &__hover-slider-indicator-dot.active {
    background-color: $accent;
    opacity: 1;
  }

  &__title {
    padding-top: 5px;
    font-size: 14px;
    color: $label;
  }
}

.active-hvr.card-hvr__button-bg {
  background: rgba(0, 170, 255, 0.7);
  transform: translateY(0.1em);
}