.tab-content {
	$self: &;
	@keyframes show_fade { from { opacity: 0; } to { opacity: 1; }}

	&__block {
		animation: show_fade 0.4s;
		display: none;

		&.active {
			display: block;
		}
	}

	&__hidden {
		@include media('<=xs') {
			display: none;
		}
	}
}
