.select {
	$self: &;

	&_opened {
		
		#{$self}__list {
			display: block;
		}
		
		#{$self}__head::before {
			transform: rotate(180deg);
		}
	}

	&__head {
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 10px 24px;
		cursor: default;
			
		&::before {
			display: block;
			content: '';
			width: 16px;
			height: 10px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-dark') center / contain no-repeat transparent;
			position: absolute;
			right: 25px;
			top: calc(50% - 5px);
			
			@include media('<=xxxs') {
				right: 15px;
			}
		}
	}

	&__list {
		box-sizing: border-box;
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 2;
		top: calc(100% + 12px);
		width: 100%;
		padding: 10px;
		border-radius: 10px;
		background-color: #fff;
		border: 1px solid #{$light};
		
		@include media('<=xxxs') {
			padding: 10px 15px;
			top: calc(100% + 6px);
		}
	}

	&__item {
		cursor: pointer;
		padding: 5px 14px;

		&:hover {
			background-color: #f1f1f1;
		}
	}
}
