.tab {
	$self: &;
	@keyframes show_fade { from { opacity: 0; } to { opacity: 1; }}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		grid-gap: 24px;
		
		@include media('<=xs') {
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
		}

		&_caps {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
	
			@include media('<=xs') {
				justify-content: space-between;
			}

			#{$self}__button {
				@extend %reset-button;
				cursor: pointer;
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				text-align: center;
				font-family: "RB", sans-serif;

				@include media('<=md') {
					font-size: 14px;
				}
		
				@include media('<=xs') {
					font-size: 0;
					color: transparent;
				}

				&:not(:last-child) {
					margin-right: 24px;
		
					@include media('<=xs') {
						margin: 0;
					}
				}

				&::before {
					display: none;
					content: '';
					width: 40px;
					height: 40px;
					margin-bottom: 10px;
					background-color: transparent;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					filter: saturate(0) brightness(1.2);
		
					@include media('<=xs') {
						margin: 0;
					}
				}
		
				&.active {
					&::before {
						filter: none;
					}
				}
		
				&_tracks::before {
					display: block;
					background-image: url('#{$images-path}icons-sprite.svg#icon-tracks-view-blue');
					background-size: 40px 32px;
				}
				
				&_cargo::before {
					display: block;
					background-image: url('#{$images-path}icons-sprite.svg#icon-cargo-view-blue');
					background-size: 40px 32px;
				}
				
				&_drivers::before {
					display: block;
					background-image: url('#{$images-path}icons-sprite.svg#icon-drivers-view-blue');
					background-size: 40px 32px;
				}
				
				&_parts::before {
					display: block;
					background-image: url('#{$images-path}icons-sprite.svg#icon-parts-view-blue');
					background-size: 32px 32px;
				}
				
				&_carrier::before {
					display: block;
					background-image: url('#{$images-path}icons-sprite.svg#icon-carrier-view-blue');
					background-size: 34px 26px;
				}
			}
		}
	}

	&__button {
		&.button {
			background-color: $light;
			
			&.active {
				background-color: $accent;
			}
		}
	}

	&__blocks {

	}

	&__block {
		animation: show_fade 0.4s;
		display: none;

		&.active {
			display: block;
		}
	}
}
