.header {
	$self: &;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	
	&__inner {
		box-sizing: border-box;
		padding-bottom: 10px;
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 95px;
		
		@include media('<=xs') {
			min-height: 80px;
		}
		
		@include media('<=xxs') {
			min-height: 60px;
		}
	}

	&__logo {
		display: flex;
		margin-right: auto;
	}

	&__search {
		@include media('<=md') {
			display: none !important;
		}
	}

	&__navi {
		box-sizing: border-box;
		display: flex;
		flex-flow: column nowrap;
		position: fixed;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		z-index: 11;
		left: -450px; top: 0;
		max-width: 450px;
		width: 100%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		background: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(7.5px);
		transition: left 0.3s ease-in;
		overflow: auto;

		&.opened {
			left: 0;
		}
	}

	&__side {
		margin-left: auto;
	}

	&__login, &__logout, &__register {
		margin-right: 24px;
		text-decoration: none;
		color: #{$text};
		display: inline-flex;
		align-items: center;

		@include media('<=xs') {
			display: none;
		}

		&::after {
			display: block;
			content: '';
			width: 18px;
			height: 14px;
			background-position: center;
			background-color: transparent;
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 5px;
		}
	}

	&__login::after {
		background-image: url('#{$images-path}icons-sprite.svg#icon-login-view-blue');
	}
	
	&__logout::after {
		background-image: url('#{$images-path}icons-sprite.svg#icon-logout-view-blue');
	}
	
	&__register::after {
		background-image: url('#{$images-path}icons-sprite.svg#icon-register-view-blue');
	}

	&__toggle {
		@extend %reset-button;
		width: 28px;
		height: 20px;
		background: url('#{$images-path}icons-sprite.svg#icon-toggle-view-black') center / contain no-repeat transparent;
	}
}