.form {
	$self: &;

	&__body {

		&_double {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=xxs') {
				display: block;
			}

			#{$self}__field, #{$self}__button {
				grid-column: span 6;
				
				@include media('<=xxs') {
					margin-bottom: 15px;
				}
			}
		}

		&_triple {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=xxs') {
				display: block;
			}

			#{$self}__field, #{$self}__button {
				grid-column: span 4;
				
				@include media('<=sm') {
					grid-column: span 6;
				}
				
				@include media('<=xxs') {
					margin-bottom: 15px;
				}
			}
		}

		&_fourfold {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 24px;
			
			@include media('<=xxs') {
				display: block;
			}

			#{$self}__field, #{$self}__button {
				grid-column: span 3;
				
				@include media('<=md') {
					grid-column: span 4;
				}
				
				@include media('<=sm') {
					grid-column: span 6;
				}
				
				@include media('<=xxs') {
					margin-bottom: 15px;
				}
			}
		}
	}

	&__field {
		box-sizing: border-box;
		border: 1px solid $light;
		border-radius: 10px;
		height: 48px;
		display: flex;
		position: relative;
		background-color: $field;
		
		@include media('<=xs') {
			border-radius: 8px;
			font-size: 13px;
			height: 40px;
		}
		
		@include media('<=xxxs') {
			font-size: 12px;
			height: 38px;
		}

		&[data-title]::before {
			display: none;
			content: attr(data-title);
			position: absolute;
			background-color: $light;
			color: $label;
			font-size: 11px;
			font-family: "RM", sans-serif;
			left: 20px;
			top: 0;
			transform: translateY(-50%);
			padding: 2px 5px;
			border-radius: 2px;
			
			@include media('<=xs') {
				padding: 1px 5px;
				font-size: 10px;
				left: 15px;
			}

			@include media('<=xxxs') {
				padding: 0px 3px;
			}
		}

		input, textarea {
			@extend %reset-input;
			width: 100%;
			padding: 10px 24px;
			resize: none;
			
			@include media('<=xs') {
				padding: 10px 20px;
			}
	
			&::placeholder {
				font-family: "RL", sans-serif;
				color: $placeholder;
			}
		}

		&_wide {
			grid-column: span 12 !important;
		}

		&_txt {
			&[data-title]::before {
				display: block;
			}
		}

		&_geo {
			&[data-title]::before {
				display: block;
			}

			input:first-child {
				padding-right: 10px;
			}

			input:last-child {
				max-width: 60px;
				padding-left: 10px;
				padding-right: 10px;
			}

			hr {
				border: none;
				width: 1px;
				height: 20px;
				background-color: $placeholder;
				align-self: center;
			}
		}

		&_pass {
			display: flex;

			&[data-title]::before {
				display: block;
			}

			button {
				@extend %reset-button;
				background: url('#{$images-path}icons-sprite.svg#icon-eye-view-black') center / 23px 16px no-repeat transparent;
				width: 50px;
	
				@include media('<=xxs') {
					background-size: 18px 12px;
				}
		
				&.active {
					background-image: url('#{$images-path}icons-sprite.svg#icon-eye-view-blue');
				}
			}
		}

		&_date {

			&[data-title]::before {
				display: block;
			}

			background-repeat: no-repeat;
			background-image: url('#{$images-path}icons-sprite.svg#icon-date-view-black');
			background-position: center right 18px;
			background-size: 18px 20px;
			
			@include media('<=xxs') {
				background-size: 14px 16px;
			}
		}

		&_sel {
			&[data-title]::before {
				display: block;
			}
		}

		&_file {
			position: relative;
			padding-left: 80px;
			align-items: center;
			
			@include media('<=xxs') {
				padding-left: 70px;
			}

			input[type="file"] {
				display: none;
			}

			&::after {
				box-sizing: border-box;
				position: absolute;
				display: block;
				content: '';
				width: 65px;
				height: calc(100% + 2px);
				left: -1px;
				top: -1px;
				border-radius: 10px 0 0 10px;
				background: url('#{$images-path}icons-sprite.svg#icon-photo-view-white') center / 21px 19px no-repeat $accent;
				cursor: pointer;
				
				@include media('<=xxs') {
					width: 55px;
				}
			}

			span {
				font-family: "RL", sans-serif;
				color: $placeholder;

				&.selected {
					color: $text;
				}
			}
		}

		&_area {
			&::before {
				display: block;
			}

			height: 120px;
		}
	}

	&__alerts {
		color: $warn;
	}

	&__buttons {

		&_grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
			grid-gap: 24px;
			
			@include media('<=xxs') {
				grid-gap: 20px;
				grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
			}

			@include media('<=xxxs') {
				grid-gap: 20px;
				grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			}
		}
		
		&_grid_whatsapp {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
			grid-gap: 24px;
			
			@include media('<=xs') {
				grid-gap: 24px;
			}
			
			@include media('<=xxs') {
				grid-gap: 12px;
				grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
				margin-bottom: 8px;
			}

			@include media('<=xxxs') {
				grid-gap: 8px;
				grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
			}
		}
	}

	&__button {

	}

	&__small {
		text-align: center;
		font-size: 10px;
		padding-top: 10px;

		a {
			color: inherit;
		}
	}
}
