.form {
	$self: &;

	&__body {

	}

	&__field {
		box-sizing: border-box;
		border: 1px solid $light;
		border-radius: 10px;
		height: 48px;
		display: flex;
		position: relative;
		background-color: $field;

		&::before {
			display: block;
			content: attr(data-title);
			position: absolute;
			background-color: $light;
			color: $label;
			font-size: 11px;
			font-family: "RB", sans-serif;
			left: 20px;
			top: 0;
			transform: translateY(-50%);
			padding: 2px 5px;
			border-radius: 2px;
		}

		input {
			@extend %reset-input;
			width: 100%;
			padding: 10px 24px;

			&::placeholder {
				color: $placeholder;
			}
		}

		&_txt {

		}

		&_date {
			background-repeat: no-repeat;
			background-image: url('#{$images-path}icons-sprite.svg#icon-date-view-black');
			background-position: center right 18px;
			background-size: 18px 20px;
		}

		&_sel {

		}

		&_file {

		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
		grid-gap: 24px;
	}

	&__button {

	}
}
