.slider-fd {
	$self: &;

	&__top {

	}

	&__inner {
		&.swiper {
			padding-top: 12px;
			padding-bottom: 12px;
			margin-top: -12px;
			margin-bottom: -12px;
		}
	}

	&__item {

	}

	&__pagination {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		@include media('<=xs') {
			justify-content: space-between;
		}
	}

	&__dot {
		cursor: pointer;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		text-align: center;
		
		&::before {
			display: block;
			content: '';
			width: 40px;
			height: 40px;
			margin-bottom: 10px;
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			filter: saturate(0) brightness(1.2);

			@include media('<=xs') {
				margin: 0;
			}
		}

		&:not(:last-child) {
			margin-right: 24px;

			@include media('<=xs') {
				margin: 0;
			}
		}

		&.active {
			&::before {
				filter: none;
			}
		}

		&_cargo::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-cargo-view-blue');
			background-size: 40px 32px;
		}
		
		&_drivers::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-drivers-view-blue');
			background-size: 40px 32px;
		}
		
		&_parts::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-parts-view-blue');
			background-size: 32px 32px;
		}
		
		&_carrier::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-carrier-view-blue');
			background-size: 34px 26px;
		}

		span {
			font-family: "RB", sans-serif;

			@include media('<=md') {
				font-size: 14px;
			}

			@include media('<=xs') {
				display: none;
			}
		}
	}
}
